body{
    background-color: #b6b696;
    font-family: Courier New;
    text-align: center;
}
div{
  background-color:#eaeae1;
  padding: 30px;
  border-radius: 25px;
  margin: 75px 5% 50px 5%;
    border-color: black;
    border:solid;
}
h3{
    text-align: left;
}
p{
    text-align: left;
}
#right{
    float: right;
    width: 40%;
}

#left{
    float:left;
    width: 40%;
}
