body{
    background: linear-gradient(to top right, #9e9e83 0%, #b6b696 100%);
    font-family: Courier New;
    text-align: center;
}

h1{
    animation: fade-in 5s;
}

div{
  background-color:#eaeae1;
  padding: 2.5%;
  border-radius: 25px;
  margin: 40px 1% 50px 1%;
    border-color: black;
    border: solid;
}

h5{
    text-align: center;
}

h3{
    text-align: left;
}
p{
    text-align: left;
}

#right{
    float: right;
    width: 40%;
}

#left{
    float: left;
    width: 40%;
    margin: 0px 1% 0px 40px;
}

#div-in-div{
    border-color:#eaeae1;
    background-color:#eaeae1;
    margin: 10% 0% 0% 0%;
        }

#image-div{
    opacity: 0%;
    text-align: center;
    background-color: #b6b696;
    border-color: #b6b696;
    padding: 1%;
    margin: 1%;
}

#review-section{
    text-align: left;
    background-color:#eaeae1;
    border-color:#eaeae1;
    margin: 15% 1% 1% 1%;
}

#fade-in{
    animation: fade-in 5s;
    -fade-animation: fade-in 5s;
}

@keyframes fade-in 
{
    0% {
    opacity: 0;
}
    100% {
        opacity: 1;
    }
}

@-fade-keyframes fade-in
{
    0% {
        opacity: 0;
    }
    100% {
        opacity:1;
    }
}

.btn{
  border: 5px solid #b6b696;
  padding: .5em 1em;
  font-size: 2 rem;
  background-color:#eaeae1;
  color: black;
  transition: transform .5s;
  border-radius: 2.5px;
}
.btn:hover{
  transform: translateY(7px);
  background-color:#eaeae1;
  color:#b6b696;
}

a:link {
  color: #666633;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #25744d;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: #25744d;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}
